﻿@using System.Web.Optimization
@using DataAccessLayer
@model List<DataAccessLayer.Modelos.Consorcio>
@{
    ViewBag.Titulo = "Listado de Consorcios";
    Layout = "~/Views/Shared/_LayoutPageLogin.cshtml";
}

@Scripts.Render("~/bundles/dataTables")
@Scripts.Render("~/bundles/sweetAlert")
@Styles.Render("~/Content/dataTables")


<body>
    @if (TempData["nombreConsorcio"] as string != null)
    {
        if (TempData["error"] as string != null)
        {
            <script>
            Swal.fire({
                text: 'Consorcio "@TempData["nombreConsorcio"]" no pudo ser creado',
                icon: 'error',
                confirmButtonText: 'Ok'
            })
            </script>
        }
        else
        {
            <script>
                Swal.fire({
                    text: 'Consorcio "@TempData["nombreConsorcio"]" fue creado con exito',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                })
            </script>
        }

    }

    <div class="container mb-5">
        <div class="pb-5">
            <h1 class="mb-5">Listado de consorcios</h1>
            <a class="btn btn-primary btn-default nuevoconsorcio" href="/consorcio/agregarConsorcio">Nuevo Consorcio</a>

            <table class="table table-striped table-hover" id="ListadoGeneral">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Provincia</th>
                        <th>Ciudad</th>
                        <th>Unidades</th>
                        <th>Expensas</th>
                        <th>Gastos</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                @foreach (DataAccessLayer.Modelos.Consorcio consorcio in Model)
                {
                    <tr>
                        <td>@consorcio.Nombre</td>
                        <td>@consorcio.Provincia.Nombre</td>
                        <td>@consorcio.Ciudad</td>
                        <td><a href="/unidad/listarUnidad/@consorcio.IdConsorcio">Ver Unidades</a></td>
                        <td><a href="/expensa/listarExpensa/@consorcio.IdConsorcio">Ver Expensas</a></td>
                        <td><a href="/gasto/listarGasto/@consorcio.IdConsorcio">Ver Gastos</a></td>
                        <td class="text-center"><a href="/consorcio/modificarConsorcio/@consorcio.IdConsorcio"><img src="~/Img/editar.png" /></a></td>
                        <td class="text-center"><a href="/consorcio/eliminarConsorcio/@consorcio.IdConsorcio"><img src="~/Img/borrar.png" /></a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>