﻿@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Titulo</title>
    @*@RenderSection("HeadScripts", false)*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    @RenderSection("Encabezado", false)

    <div style="margin-top:150px">
        @RenderBody()
    </div>

    <container class="fixed-bottom border border-bottom-0 border-left-0 border-right-0 border-dark bg-secondary text-white">
        <div class="mx-auto p-2" style="width: fit-content">PW3 - 2020 - 2º Cuatrimestre</div>
        <div class="mx-auto p-2" style="width: fit-content">Grupo FVZ:  Fortunato Juan Pablo - Vazquez Claudio - Zota Alejo</div>
    </container>
</body>
</html>
